<div class="container">
  <div class="table-responsive">
    <table class="table mt-4">
      <thead>
        <tr class="apartados">
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Nombre / Apellido</th>
          <th scope="col">Correo Electrónico</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td></td>
          <td></td>
          <td></td>
        
          <!-- BOTONES PARA EDITAR Y ELIMINAR -->
          <td class="d-flex justify-content-center">
            <button type="button" title="Editar" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editarUsuario">
                <mat-icon>edit</mat-icon>
            </button>
            <button type="button" title="Eliminar" class="btn btn-outline-danger ms-2" data-bs-toggle="modal" data-bs-target="#">
              <mat-icon>delete</mat-icon>
            </button>
          </td>  
        
        </tr>
      </tbody>
    </table>
</div>
</div>

    

<!-- BOTÓN PARA AGREGAR USUARIO -->
<div class="btn-nuevo">
    <button  type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#agregarUsuario">
      Agregar un nuevo usuario
    </button>
</div>

<!-- MODAL PARA AGREGAR USUARIO -->
<div class="modal fade " id="agregarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content ">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese una nueva mascota:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          
        </div>
            <!-- ACCIONES DEL MODAL -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

<!-- MODAL PARA EDITAR USUARIO -->
<div class="modal fade" id="editarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edite al siguiente usuario:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Ingrese nombre:</label>
            <input class="form-control" type="text" formControlName="nombre" placeholder="Igrese nombre del usuario">
          </div>
          <div class="mb-3">
            <label class="form-label">Ingrese un correo electrónico:</label>
            <input class="form-control" type="text" formControlName="imagen" placeholder="Ingrese el correo electrónico">
          </div>
      
  
        </div>
  
        <!-- ACCIONES DEL MODAL -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Guardar cambios</button>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  
  
  </div>
  