.modal-footer{
    text-align: center;
    justify-content: center;
}
.apartados{
    padding: 20px;
}
.apartados th{
    padding-left: 25px;
    padding-right: 25px;
}
.botones{
    display: flex;
}
.botones button{
    margin-left: 5px;
}
.tamanio{
    padding: 5%;
}