<div class="container">
    <div class="row-12">
        <h1 class="letras">administrador</h1>
        <div class="col">
            <mat-tab-group>
                <mat-tab label="Mascotas"> 
                    <app-table class="table-responsive"></app-table>
                </mat-tab>
                <mat-tab label="Usuarios"> 
                    <app-table-usuario></app-table-usuario>
                </mat-tab>
                <mat-tab label="Reportes"> 
                    <app-table-reportes></app-table-reportes>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>