.titulo{
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 5%;
    margin-left:25%;
    margin-right: 25%;
    border-radius: 10px;
    background-color: #FFC91D;
}

.container{
    margin: 5%, 5%, 0, 0;
    padding: 0;
    margin-top: 5%;
}
.mat-tree-node{
  font-size: 20px;
}



.example-tree-invisible {
    display: none;
  }
  
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
  
  /*
   * This padding sets alignment of the nested nodes.
   */
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }
  