<div class="container">
  <h2 class="titulo">¡A tener en cuenta para adoptar!</h2>
  <h4 class="text-center letra" style="color: #FFC91D;;">ESPACIO ADECUADO</h4>
  <!--  PERRO  -->
  <div class=" text-start">
    
    <div class="row">
      <!--  LISTA  -->
      <div class="col-md-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">La<strong> responsabilidad</strong> siempre debe guiarnos en la elección del perro perfecto para nuestro hogar y estilo de vida</li>
          <li class="list-group-item">Es aconsejable tener perros de tamaño medianos o grandes <strong> con mucha energía</strong> en espacios más amplios.
          </li>
          <li class="list-group-item">Un lugar que <strong>no brinde las condiciones adecuadas</strong>  para el crecimiento del animal puede <strong> generar problemas físicos y psicológicos</strong>.
          </li>
        </ul>
      </div>
      <!-- IMAGEN -->
      <div class="col-md-4 borde">
        <img src="https://i.pinimg.com/550x/fc/53/c4/fc53c435a4ac26ffabb103d4f85d59d5.jpg" alt="Perro" > 
      </div>
    </div>

    <!-- ACORDIÓN  -->
    <div class="accordion" style="margin-top: 50px;" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Departamento o espacios reducidos
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body ">
            <ul>
              <li >
                Hay analizar las características que tengan esos animales para que se adapten mejor a un espacio pequeño.
              </li>
              <li>
                Lo ideal es buscar animales tranquilos.
              </li>
              <li>
                Si el animal es cachorro, al poder educarlo desde sus primeros meses de vida, podría adaptarse más fácilmente a vivir en un espacio pequeño.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Casas medianas
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
              <li>
                Cualquier perro puede vivir bien en un espacio mediano. 
              </li>
              <li>
                Una casa mediana habitada por muchas personas o más animales, puede convertirse en un pequeño espacio. 
              </li>
              <li>
                Hay que contar con la composición de la familia antes de decidir la adopción.
              </li>
              <li>
                Considere perritos de tamaño mediano.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Casas grnades con mucho espacio
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
              <li>
                Si tu casa o incluso un apartamento grande tiene un patio, una terraza, un jardín o un terreno grande.
              </li>
              <li>
                Cualquier perro se puede adaptar a un hogar con estas características.
              </li>
              <li>
                Considere los de tamaño grandes que es más conveniente para ellos.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--  GATO  -->
  <div class=" text-start">
    <div class="row" style="margin-top: 50px;">
      <!-- IMAGEN -->
      <div class="col-md-4" >
        <img  src="https://img.freepik.com/fotos-premium/pequeno-gatito-gris-sobre-fondo-blanco_136670-1716.jpg?w=360" alt="gato">
      </div>
      <!-- LISTA  -->
      <div class="col-md-8 ">
        <ul class="list-group list-group-flush">
          <li class="list-group-item ">
            Es el <strong>tipo de espacio</strong>, más que la cantidad de espacio, lo que es importante para un gato.  
          </li>
          <li class="list-group-item">
            Debemos tener en cuenta que los gatos tienen una gran <strong>necesidad de escalar y esconderse</strong>, así como de disponer de espacio en el suelo.
          </li>
          <li class="list-group-item">
            El gato deberá tener varios <strong>espacios propios para sus necesidades básicas</strong>: la eliminación, la caza y el descanso.  
          </li>
          <li class="list-group-item">
            Si tenes una casa sin salida al exterior, no debería considerar tener un gato.
          </li>
          <li class="list-group-item">
            Una zona pequeña en un departamento podría compensarse si también tiene muchos puntos altos. 
          </li>
          <li class="list-group-item">
            Si tenes un lugar grande, pero no tenes opciones de escalada, es posible que tu gatito no tenga suficiente espacio para moverse.
          </li>

        </ul>
      </div>
    </div>
    
  </div>



</div>
