.titulo{
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 80px;
    border-radius: 10px;
    background-color: #FFC91D;
}
.container{
  padding-left: 100px;
  padding-right: 100px;

}
.accordion{
  border-radius: 10px;
  border-style: solid;
  border-color: #c3c3c3;
}
.accordion li{
  padding: 8px;
}

li{
  padding: 15px;
  font-size: 15px;
}

.letra{
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  border-style: solid;
  border-color: #c3c3c3;
}

img{
  border-radius: 25px;
  border-style: solid;
  border-color: #FFC91D;
}

.col-md-8 ul{
  text-align: start;
  margin-left: 30px;
}