.titulo{
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 5%;
    margin-left:25%;
    margin-right: 25%;
    border-radius: 10px;
    background-color: #FFC91D;
}

.tamanio{
    margin: 5%;
}