<div class="container">

  <!-- para adoptar -->
  
  <h3 class="titulo" id="tenerEnCuenta">¡A tener en cuenta para adoptar!</h3>
  <div>
    <!-- espacio adecuado -->
    <h4 class="text-center letra">ESPACIO ADECUADO</h4>
    <div class=" text-start">

    <!--  perro  -->
        <div class="row">
          <!--  lista  -->
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-8">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">La responsabilidad siempre debe guiarnos en la elección del perro perfecto para nuestro hogar y estilo de vida</li>
              <li class="list-group-item">Es aconsejable tener perros de tamaño medianos o grandes con mucha energía en espacios más amplios.</li>
              <li class="list-group-item">Un lugar que no brinde las condiciones adecuadas para el crecimiento del animal puede generar problemas físicos y psicológicos.
              </li>
            </ul>
          </div>
          <!-- imagen -->
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <img class="img-fluid" src="https://i.pinimg.com/550x/fc/53/c4/fc53c435a4ac26ffabb103d4f85d59d5.jpg" alt="Perro" > 
          </div>
          
        </div>
        <!-- acordión  -->
        <div class="accordion acordion" style="margin-top: 50px;" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button color-letra" style="padding: 25px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Departamento o espacios reducidos
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body ">
                <ul>
                  <li >
                    Hay analizar las características que tengan esos animales para que se adapten mejor a un espacio pequeño.
                  </li>
                  <li>
                    Lo ideal es buscar animales tranquilos.
                  </li>
                  <li>
                    Si el animal es cachorro, al poder educarlo desde sus primeros meses de vida, podría adaptarse más fácilmente a vivir en un espacio pequeño.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed color-letra" style="padding: 25px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Casas medianas
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>
                    Cualquier perro puede vivir bien en un espacio mediano. 
                  </li>
                  <li>
                    Una casa mediana habitada por muchas personas o más animales, puede convertirse en un pequeño espacio. 
                  </li>
                  <li>
                    Hay que contar con la composición de la familia antes de decidir la adopción.
                  </li>
                  <li>
                    Considere perritos de tamaño mediano.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed color-letra" style="padding: 25px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Casas grnades con mucho espacio
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>
                    Si tu casa o incluso un apartamento grande tiene un patio, una terraza, un jardín o un terreno grande.
                  </li>
                  <li>
                    Cualquier perro se puede adaptar a un hogar con estas características.
                  </li>
                  <li>
                    Considere los de tamaño grandes que es más conveniente para ellos.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
    <!--  gato  -->
        <div class="row" style="margin-top: 50px;">
          <!-- imagen -->
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" >
            <img class="img-fluid" src="https://img.freepik.com/fotos-premium/pequeno-gatito-gris-sobre-fondo-blanco_136670-1716.jpg?w=360" alt="gato">
          </div>
          <!-- lista  -->
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-8">
            <ul class="list-group list-group-flush">
              <li class="list-group-item ">
                Es el tipo de espacio, más que la cantidad de espacio, lo que es importante para un gato.  
              </li>
              <li class="list-group-item">
                Debemos tener en cuenta que los gatos tienen una gran necesidad de escalar y esconderse, así como de disponer de espacio en el suelo.
              </li>
              <li class="list-group-item">
                El gato deberá tener varios espacios propios para sus necesidades básicas: la eliminación, la caza y el descanso.  
              </li>
              <li class="list-group-item">
                Si tenes una casa sin salida al exterior, no debería considerar tener un gato.
              </li>
              <li class="list-group-item">
                Una zona pequeña en un departamento podría compensarse si también tiene muchos puntos altos. 
              </li>
              <li class="list-group-item">
                Si tenes un lugar grande, pero no tenes opciones de escalada, es posible que tu gatito no tenga suficiente espacio para moverse.
              </li>

            </ul>
          </div>
        </div>
    </div>

    <!-- requisitos -->

    <h4 class="text-center letra">REQUISITOS</h4>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5 espacio-requisistos">
        <!-- lista -->
        <ul>
          <li class="list-group-item" >
            <mat-icon style="color: #FFC91D;">looks_one</mat-icon>
            Adaptar tu hogar para la llegada de una nueva mascota.
          </li>
          <li class="list-group-item">
            <mat-icon style="color: #FFC91D;">looks_two</mat-icon>
            Para encontrar al perro o gato ideal para ti, tendrás que investigar un poco.
          </li>
          <li class="list-group-item">
            <mat-icon style="color: #FFC91D;">looks_3</mat-icon>
            Contemplar los cuidados que necesitará tu mascota.

          </li>
        </ul>

        <!-- formulario de adopciíon  -->
          <button class="boton" mat-button data-bs-toggle="modal" data-bs-target="#formulario" type="button">
            formulario de adopción
          </button>


      </div>

      <!-- imagen -->
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-7 ">
        <img class="img-fluid" src="https://images.hola.com/imagenes/mascotas/20230110224293/perros-gatos-ciclos-sueno-dn/1-187-677/ciclos-sueno-dormir-perros-gatos-t.jpg?tx=w_680" alt="perro y gato">
      </div>
    </div>
  </div>

   <!-- modal de adopción-->
   <div class="modal" id="formulario" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Formulario de Adopción</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- preguntas frecuentes  -->

  <h3 class="titulo" id="preguntas">Preguntas Frecuentes</h3>
  <div style="margin-top: 50px;">

    <!-- acordión -->
    <div class="accordion color-letra" id="accordionExample">
      <div class="accordion-item preguntas-acc">
        <h2 class="accordion-header">
          <button class="accordion-button color-letra"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Pregunta #1
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper lacus non massa consectetur, quis semper purus condimentum. Donec non luctus eros. In nibh felis, aliquet a consectetur vel, euismod eget lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam gravida justo ut auctor porta. Cras sodales tellus non ante sollicitudin vestibulum. Quisque erat metus, condimentum sit amet laoreet at, semper nec risus. Sed elementum risus at iaculis placerat. Nunc at dui magna. Aliquam erat volutpat. Ut non eros at sem cursus varius at vel ante.
          </div>
        </div>
      </div>
      <div class="accordion-item preguntas-acc">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed color-letra" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Pregunta #2
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper lacus non massa consectetur, quis semper purus condimentum. Donec non luctus eros. In nibh felis, aliquet a consectetur vel, euismod eget lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam gravida justo ut auctor porta. Cras sodales tellus non ante sollicitudin vestibulum. Quisque erat metus, condimentum sit amet laoreet at, semper nec risus. Sed elementum risus at iaculis placerat. Nunc at dui magna. Aliquam erat volutpat.
          </div>
        </div>
      </div>
      <div class="accordion-item preguntas-acc">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed color-letra" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Pregunta #3
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper lacus non massa consectetur, quis semper purus condimentum. Donec non luctus eros. In nibh felis, aliquet a consectetur vel, euismod eget lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam gravida justo ut auctor porta. Cras sodales tellus non ante sollicitudin vestibulum. Quisque erat metus, condimentum sit amet laoreet at, semper nec risus. Sed elementum risus at iaculis placerat. Nunc at dui magna. Aliquam erat volutpat. Ut non eros at sem cursus varius at vel ante.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
