
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rounded-bottom-3 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.fondo{
  background-color:#ffc91d;
  justify-content: center;
  align-items: center;
  box-shadow: #bdbdbd;
}

/* LOGO */
.letras a{
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-weight: 800;
  text-decoration: none;
  padding: 0 40px;
  text-transform: uppercase;
  text-align: center;

}
.letras img{
  width: 75px;
  height: 85px;
}
.espacio button{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  justify-content: flex-end;
}



mat-menu-item {
  width: 100%;
  text-align: center;
}
[mat-icon-button] {
  color: #b99727; /* Color de icono en el botón hamburger */
}
