.navbar{
  background-color:rgba(255, 201, 29, 1);
  text-align: center;

}
.navbar-list{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 120%;
  font-weight: 1500%;
  list-style: none;
  padding: 0%;
}
.letras{
  color: rgb(255, 255, 255);
  font-size: 120%;
  font-weight: bold;
}
.body{
  background-image: url(fotos\fondoo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.boton{
  color: #967200;
}
.card{
display: flex;
width: 450px;
height: 250px;
padding: 45px 25px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 20px;
background: rgba(255, 255, 255, 0.41);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
