<p>
  <mat-toolbar class="color">

    <button mat-button >
      Adopta
    </button>

    <button mat-button >
      Donaciones
    </button>

    <button mat-button >
      Salud
    </button>

      <span class="letras">BIGOTES</span>
      <span class="example-spacer">
      </span>

      <button mat-button >
        Nosotros
      </button>

      <button mat-button routerLink="/register" >
        Registrarse
      </button>

      <button mat-button >
        Login
      </button>
  </mat-toolbar>
</p>
