<footer>
    <div class="container-fluid" fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutAlign="center center">
      <div class="btns" fxFlex="70%" fxFlex.xs="100%" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.xs="0px" 
        fxLayoutAlign="start center">
        <button mat-button> Button1 </button>
        <button mat-button> Button2 </button>
        <button mat-button> Button3 </button>
        <button mat-button disabled> Contact-Us : +1 2048 3994 81 </button>
        <button mat-button disabled> Email-Us : contactus@blogs.com </button>
      </div>
      
      <div class="btns" fxFlex="70%" fxFlex.xs="100%" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
        
        <mat-icon>call</mat-icon>
        <p>
          Télefono:<br> 299 1234567
        </p>
     
        <mat-divider [vertical]="true"></mat-divider>
        
        <mat-icon>email</mat-icon>
        <p>
          Correo Electrónico: <br>
          ejemplo@gmail.com
        </p>

        <mat-divider [vertical]="true"></mat-divider>

        <mat-icon>place</mat-icon>
        <p>
          Ubicación: <br>
          ejemplo 123 Cipolletti, Rio Negro
        </p>
        
        <mat-divider [vertical]="true"></mat-divider>

        <a href="#"><mat-icon>facebook</mat-icon></a>
      </div>
  
      <div class="ft-legal" fxFlex="100%" fxFlex.xs="100%" fxLayout="row wrap" fxLayoutAlign="center center">
        <a href="#">Términos &amp; Condiciones</a>
        <a href="#" style="margin-left: 20px;margin-right: 20px;">Políticas de Privacidad</a>
        <a style="color: gray;">&copy; 2023 Copyright Bigotes</a>
      </div>
  
    </div>
  </footer>