<footer>
    <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutAlign="center center">
      <div class="subFT" fxFlex="70%" fxFlex.xs="100%" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.xs="0px" 
        fxLayoutAlign="start center">
        <button mat-button> Button1 </button>
        <button mat-button> Button2 </button>
        <button mat-button> Button3 </button>
        <button mat-button disabled> Contact-Us : +1 2048 3994 81 </button>
        <button mat-button disabled> Email-Us : contactus@blogs.com </button>
      </div>
  
      <mat-divider fxFlex="100%" style="background-color: gray;"></mat-divider>
  
      <div class="subFT" fxFlex="70%" fxFlex.xs="100%" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
  
      <div class="ft-legal" fxFlex="100%" fxFlex.xs="100%" fxLayout="row wrap" fxLayoutAlign="center center">
        <a href="#">Terms &amp; Conditions</a>
        <a href="#" style="margin-left: 20px;margin-right: 20px;">Privacy Policy</a>
        <a style="color: gray;">&copy; 2021 Copyright Digital Solutions</a>
      </div>
  
    </div>
  </footer>