footer{
    margin-top: 10%;
    background-color: #FFC91D;
    color: #fff;
    line-height: 1.5;
}
.btns{
    height: 100px;
    color: #fff;
}
.btns button{
    background-color: #e4b519;
    color: #fff;
    font-size: 18px;
    width: auto;
}
.btns a{
    color: #bbb;
    font-size: 30px;
}
.ft-legal {
    height: 100px;
    background-color: #e4b519;
    color: #bbb;
}