<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col col">
          <img src="https://clipground.com/images/yellow-paw-print-clip-art-7.png" alt="">
          <div>
            <h1>BIGOTES</h1>
          </div>
        </div>
        <div class="footer-col">
          <h4>nosotros</h4>
          <ul>
            <li><a href="">quienes somos</a></li>
            <li><a href="">a tener en cuenta para adoptar</a></li>
            <li><a href="">preguntas frecuentes</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>explorar</h4>
          <ul>
            <li><a href="">adopta</a></li>
            <li><a href="">donaciones</a></li>
            <li><a href="">salud</a></li>
            <li><a href="">registrate</a></li>
            <li><a href="">inciar sesión</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>contactos</h4>
          <div class="social-links">
            <a href="" title="facebook"><mat-icon>facebook</mat-icon></a>
            <a href="" title="whatsapp"><mat-icon>call</mat-icon></a>
            <a href="" title="email"><mat-icon>email</mat-icon></a>
          </div>
        </div>
      </div>
      <div class="row">
        

      </div>    
    </div>
    <div class="row">
      <div class="ft-legal" fxFlex="100%" fxFlex.xs="100%" fxLayout="row wrap" fxLayoutAlign="center center">
        <a href="#">&copy; 2023 Copyright Bigotes</a>
      </div>
    </div>
</footer>
  