footer{
    margin-top: 10%;
    background-color: #FFC91D;
    color: #fff;
    line-height: 1.5;
}
mat-divider{
    height:50px;
    background-color: #917311;
}
.container-fluid{
    padding: 0%;
}
a{
    color: #917311;
}

.info{
    height: 100px;
    color: #917311;
    align-items: start;
    height: auto;
    margin: 5%;
}
.info p{
    text-align: left;
}

.ft-legal {
    height: 35px;
    background-color: #e4b519;
    color: #bbb;
}
mat-grid-tile {
    background: lightblue;
}

.example-card {
    max-width: 400px;
    margin-bottom: 8px;
}

.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}

.fondo mat-expansion-panel{
    background-color: #ffca1d9b;
    color: #917311;
}