<mat-card class="card">
  <mat-card-header>
    <mat-card-title>¡Encontra a tu mascota ideal!</mat-card-title>
    <mat-card-subtitle>¿Que tipo de mascota buscas?</mat-card-subtitle>
  </mat-card-header>

  <mat-button-toggle-group class="botones">

    <mat-button-toggle value="red" class="boton2" ><img src="12188 1.png" alt="Gato"></mat-button-toggle>
    <mat-button-toggle value="green" class="boton2"><img src="953c6957f72b9746e7f7816bee4ec660-gran-danes-lado-perro-negro 1.png" alt="Perro"></mat-button-toggle>

  </mat-button-toggle-group>

  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card-actions>
    <button mat-raised-button class="botones" >Buscar Mascotas</button>
  </mat-card-actions>

</mat-card>


