<mat-card class="card">
  <mat-card-header>
    <mat-card-title>¡Encontra a tu mascota ideal!</mat-card-title>
    <mat-card-subtitle>¿Que tipo de mascota buscas?</mat-card-subtitle>
  </mat-card-header>

  <mat-button-toggle-group class="botones">

    <mat-button-toggle value="red" class="boton2" ><img src="12188 1.png" alt="Gato"></mat-button-toggle>
    <mat-button-toggle value="green" class="boton2"><img src="953c6957f72b9746e7f7816bee4ec660-gran-danes-lado-perro-negro 1.png" alt="Perro"></mat-button-toggle>

  </mat-button-toggle-group>
  <mat-card-actions>
    <button mat-raised-button class="botones" >Agregar ubicacion <img src="compass.png" alt="cosaroja"></button>
  </mat-card-actions>

  <mat-card-actions>
    <button mat-raised-button class="botones" >Buscar Mascotas</button>
  </mat-card-actions>

</mat-card>


