.card{
  display: flex;
  width: 500px;
  height: 300px;
  
  flex-shrink: 0;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 45px 35px;
  
  border-radius: 20px;
  background-color: #ffffff9c;
  box-shadow: 0px 4px 4px 0px #00000040, 0px 4px 4px 0px #00000040;
}
.botones{
  background-color: #ffca1dbe;
  text-transform:capitalize;
  font-family: 'Poppins', sans-serif;

  display: flex;
  justify-content: space-around;
}
.boton2{
  background-color: #ffca1d00;
  padding: 0px 30px;
  margin-bottom: auto;
  
  flex-grow: 1;

}
.boton2 img{
  margin: 5px;
  height: 60px;
  width: 60px;
}
.modal-footer button{
  background-color: #FFC91D; 
  color: white;
}



@media only screen and (max-width: 600px) {
  .card {
      /* Estilos para pantallas pequeñas */
      width: auto;
      height: auto;

      justify-content: space-between;
      align-items: center;
  }

  .boton2 {
      /* Estilos específicos para botones en pantallas pequeñas */
      display: inline-flex;
  }
}