
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://raw.githubusercontent.com/Melani050/Bigotes3.0/0572799163e12064b59ec0613e2c54de6d7cee2e/fotos/fondoo.jpg" class="d-block w-100 tamanio-imagen" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://banfield.com.mx/images/blog/articulo_diferencias_gatos_perros.jpg" class="d-block w-100 tamanio-imagen" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/fotos-premium/gatito-sobre-fondo-blanco_136670-37.jpg?w=2000" class="d-block w-100 tamanio-imagen"  alt="...">
      </div>
    </div>
    <button class="carousel-control-prev color" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button class="carousel-control-next color"  type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
  