*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider-box{
    width: 1200px;
    height: 700px;
    margin: 50px auto 0 ;
    overflow: hidden;
    
}
.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}
.slider-box img{
    width: 90%;
}
@keyframes slide{
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25% {margin-left: -100%;}
    45%{margin-left: -100%;}

    50% {margin-left: -200%;}
    70%{margin-left: -200%;}

    75% {margin-left: -300%;}
    100%{margin-left: -300%;}
}