<div class="slider-box">

    <ul>
        <li>
            <img src="https://www.infobae.com/new-resizer/NNwFv_CNtXTiPQxsFWKuXahosQM=/filters:format(webp):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/NVWQSYGX3RC7ZBEHLPLDVXA3PU.jpg" alt="">
        </li>
        <li>
            <img src="https://media.diariolasamericas.com/p/04dc425799df6e271d0cf55b855ef0d6/adjuntos/216/imagenes/001/491/0001491906/855x0/smart/mascotasjpg.png" alt="">
        </li>
        <li>
            <img src="https://www.infobae.com/new-resizer/NNwFv_CNtXTiPQxsFWKuXahosQM=/filters:format(webp):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/NVWQSYGX3RC7ZBEHLPLDVXA3PU.jpg" alt="">
        </li>
    </ul>
</div>