/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    line-height: 1.5;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.modal-backdrop {
    --bs-backdrop-zindex: none; 
    --bs-backdrop-bg: #000; 
    --bs-backdrop-opacity: 0.03; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);    
    width: 100vw;  
    height: 100vh; 
    background-color: var(--bs-backdrop-bg);   
}