<h1 class="titulo">Mascotas en adopción</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div *ngFor="let i of info" class="contenido">
        <mat-card class="example-card">
          <img mat-card-image src="{{i.imagen}}" alt="{{i.alt}}" width="100%">
            <mat-card-header> 
              <!-- TÍTULO -->
              <mat-card-title>{{i.nombre}}</mat-card-title>
            </mat-card-header>
              <!-- IMAGEN -->
           
            <mat-card-content>
                <!-- DESCRIPCIÓN -->
              <p>
                Sexo: {{i.sexo}} <br>
                Tamaño: {{i.tamanio}} <br>
                Raza: {{i.raza}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>
                <span class="material-symbols-outlined">expand_circle_down</span>Más información
              </button>
              <button mat-button>
                <span class="material-symbols-outlined">contacts</span>Contacto
              </button>
            </mat-card-actions>
          </mat-card>
    </div>
    </div>
  </div>
</div>