.titulo{
    color: white;
    text-align: center;
    padding: 15px;
    margin-left:25%;
    margin-right: 25%;
    border-radius: 10px;
    background-color: #FFC91D;
}
.container-fluid{
    background-color: #FFC91D;
    display: flex;
    justify-content: left;
}
.contenido{
    width: 380px;
    display: inline-block;
    margin: 35px;
}
.example-card{
    border-radius: 15px;
}
p{
    margin: 10px;
}