.titulo{
    color: white;
    text-align: center;
    padding: 15px;
    margin-left:25%;
    margin-right: 25%;
    border-radius: 10px;
    background-color: #FFC91D;
}
.contenido{
    width: 335px;
    display: inline-flex;
    justify-content: center;
}
.example-card{
    border-radius: 15px;
}
p{
    margin: 5px;
}