<div class="container">
  <div class="row">
    <h1>Mascotas</h1>
    <div class="col">
      <div *ngFor="let i of info" class="contenido">
        <mat-card class="example-card">
            <mat-card-header>
                <!-- TÍTULO -->
              <mat-card-title>{{i.nombre}}</mat-card-title>
            </mat-card-header>
              <!-- IMAGEN -->
            <img mat-card-image src="{{i.imagen}}" alt="{{i.alt}}" width="100%">
            <mat-card-content>
                <!-- DESCRIPCIÓN -->
              <p>
                Nombre: {{i.nombre}} <br>
                Sexo: {{i.sexo}} <br>
                Tamaño: {{i.tamanio}} <br>
                Raza: {{i.raza}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
    </div>
    </div>
  </div>
</div>